<template>
  <div class="container">
    <div v-if="courseData" class="block-left course">
      <ui-input-field v-model="courseData.id" readonly type="text"
        >ID</ui-input-field
      >
      <ui-input-field v-model="courseData.name" type="text"
        >Name</ui-input-field
      >
      <ui-textarea v-model="courseData.description">Description</ui-textarea>
      <ui-input-field v-model="courseData.price" type="number"
        >Price</ui-input-field
      >
      <ui-input-field v-model="courseData.start" type="text"
        >Start date</ui-input-field
      >
      <div>(!) form without validation</div>
      <ui-button to="/courses/">Back to list</ui-button>
      <ui-button @click.native="deleteCourse">Delete</ui-button>
      <ui-button @click.native="updateCourse">Save</ui-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CoursesId',
  validate({ params }) {
    return /^\d+$/.test(params.id)
  },
  data() {
    return {
      courseData: null,
    }
  },
  mounted() {
    const data = this.$store.state.courses.find(
      (e) => e.id === parseInt(this.$route.params.id)
    )
    this.courseData = Object.assign({}, data)
  },
  methods: {
    deleteCourse() {
      this.$store.commit('DELETE', this.courseData.id)
      this.$router.push('/courses/')
    },
    updateCourse() {
      this.$store.commit('UPDATE', this.courseData)
      this.$router.push('/courses/')
    },
  },
}
</script>

<style scoped>
.course {
  width: 80%;
}
</style>
