<template>
  <div class="container">
    <div>
      <h1 class="title">Courses control</h1>
      <div class="links">
        <nuxt-link class="button--green" to="/courses/">
          List of courses
        </nuxt-link>
        <a
          href="https://gitlab.com/WtekSupport/coursescontrol"
          target="_blank"
          rel="noopener noreferrer"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import * as importedData from '@/data/data.json'
export default {
  fetch() {
    this.$store.commit('INIT', importedData.default)
  },
}
</script>
