<template>
  <div class="container">
    <div class="block-left">
      <ui-input-field v-model="form.name" type="text">Name</ui-input-field>
      <ui-textarea v-model="form.description">Description</ui-textarea>
      <ui-input-field v-model="form.price" type="number">Price</ui-input-field>
      <ui-input-field v-model="form.start" type="text"
        >Start date</ui-input-field
      >
      <div>(!) form without validation</div>
      <ui-button to="/courses/">Cancel</ui-button>
      <ui-button @click.native="addNewCourse">Save</ui-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CoursesAdd',

  data() {
    return {
      form: {
        id: null,
        name: '',
        description: '',
        price: '',
        start: '',
      },
    }
  },
  mounted() {
    this.form.start = new Date().toISOString()
  },
  methods: {
    addNewCourse() {
      this.$store.commit('CREATE', this.form)
      this.$router.push('/courses/')
    },
  },
}
</script>
